<div
  class="flex flex-col items-center justify-center h-screen heart-container mt-24"
>
  <img src="assets/Bunny.png" />
  <div class="text-xl font-semibold love-text mb-6 w-3/5 text-justify">
    I don’t know how you did it, but somehow, you’ve made me fall so deeply in
    love with you that even on this stupid holiday I hate, I can't help but want
    you to feel special.
  </div>
  <div class="grid grid-cols-3 gap-2 w-auto h-auto">
    <!-- Row 1 -->
    <div
      class="flex items-center justify-center w-20 h-20 bg-white border border-white rounded shadow"
    >
      <img src="assets/Heart.png" class="h-12" />
    </div>
    <div
      class="flex items-center justify-center w-20 h-20 bg-white border border-white rounded shadow"
    ></div>
    <div
      class="flex items-center justify-center w-20 h-20 bg-white border border-white rounded shadow"
    >
      <img src="assets/X.png" class="h-12" />
    </div>

    <!-- Row 2 -->
    <div
      class="flex items-center justify-center w-20 h-20 bg-white border border-white rounded shadow"
    >
      <img src="assets/X.png" class="h-12" />
    </div>
    <div
      class="flex items-center justify-center w-20 h-20 bg-white border border-white rounded shadow"
    >
      <img src="assets/Heart.png" class="h-12" />
    </div>
    <div
      class="flex items-center justify-center w-20 h-20 bg-white border border-white rounded shadow"
    ></div>

    <!-- Row 3 -->
    <div
      class="flex items-center justify-center w-20 h-20 bg-white border border-white rounded shadow"
    >
      <img src="assets/X.png" class="h-12" />
    </div>
    <div
      class="flex items-center justify-center w-20 h-20 bg-white border border-white rounded shadow"
    ></div>
    <div
      class="flex items-center justify-center w-20 h-20 bg-white border border-white rounded shadow"
    >
      <img src="assets/Heart.png" class="h-12" />
    </div>
  </div>
  <button
    class="rounded-xl p-4 mt-12 mb-12 animate-bounce-cute"
    (click)="navigate()"
  >
    I LOVE YOU!
  </button>
</div>
