@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pink-bg: #fcaab0;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

button {
  background-color: var(--color-pink-bg);
  color: white;
  animation: bounceCute 2s infinite ease-in-out;
}
.valentine-text {
  animation: bounceCute 2s infinite ease-in-out;
}

.valentine-image {
  animation: hop 1.5s infinite ease-in-out;
}

@keyframes bounceCute {
  0%,
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateY(-10px) scale(1.05);
    opacity: 0.9;
  }
  50% {
    transform: translateY(5px) scale(0.95);
    opacity: 1;
  }
  75% {
    transform: translateY(-5px) scale(1.02);
    opacity: 0.95;
  }
}

@keyframes hop {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-25px); /* Quick rise */
  }
  40% {
    transform: translateY(-30px); /* Peak */
  }
  50% {
    transform: translateY(-25px); /* Starts coming down */
  }
  70% {
    transform: translateY(-10px); /* Smooth descent */
  }
}

.heart-button,
.love-text,
.valentine-text {
  color: var(--color-pink-bg);
}
