<div class="home">
  <div class="inner-home" *ngIf="!loveMessageVisibleYes && !loveMessageVisibleNo && !loveChoiceVisibleYes">
    <div class="img">
      <img src="../assets/pic.svg" alt="Image Unavailable" />
    </div>
    <div class="head">
      <h1>BE MY VALENTINE</h1>
    </div>
    <div class="body">
      <h2>
        Since you've been dodging my asking about if you wanted me to ask or
        not, you have several options to choose from:
      </h2>
    </div>
    <div class="buttons">
      <button
        (click)="
          onButtonClick(
            'Yes, this is cuter than a baby bunny riding a tiny bicycle. Count me in!'
          )
        "
      >
        Yes, this is cuter than a baby bunny riding a tiny bicycle. Count me in!
      </button>
      <button (click)="onButtonClick('No, but I still want the flowers')">
        No, but I still want the flowers
      </button>
      <button
        (click)="
          onButtonClick(
            'Yes, but I hope you\'re not expecting me to share my chocolate stash'
          )
        "
      >
        Yes, but I hope you're not expecting me to share my chocolate stash
      </button>
      <button
        (click)="
          onButtonClick(
            'Hard pass. I\'m already in a complicated relationship with my snooze button.'
          )
        "
      >
        Hard pass. I'm already in a complicated relationship with my snooze
        button.
      </button>
    </div>
  </div>
  <div class="love" *ngIf="loveMessageVisibleYes">
    <div class="love-message">
      <p>{{loveMessage}}</p>
      <button (click)="sendEmail('I want to go for a movie!')">I want to go for a movie!</button>
      <button (click)="sendEmail('I want to have dinner!')">I want to have dinner!</button>
      <button (click)="sendEmail('I want both!')">I want both!</button>
      <button (click)="sendEmail('I want a home-cooked meal!')">I want a home-cooked meal!</button>
      
    </div>
  </div>
  <div class="love" *ngIf="loveMessageVisibleNo">
    <div class="love-message">
      <p>{{loveMessage}}</p>
    </div>
  </div>
  <div class="option" *ngIf="loveChoiceVisibleYes">
    <p>{{message}}</p>
  </div>
</div>

